/*******GeneralCSS*******/
html{
    height:100%;   
}    
body{
    width:100%;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    padding:0;
    max-width:320px;
    max-height:480px;
    
}

/*********Menu*********/
#buttonMenu{
    display:inline-block;
    margin:auto;
    max-width:100%;
    position:fixed;
    bottom:0;
        
}

#buttonMenu button{
    margin:0;
    padding:2em;
    font-size:1em;
    background-color:#EBF7D2;
    color:#F5191A;
}

#buttonMenu button:active{
    background-color:#99E6C9;
}

#map-canvas{
    height:100%;
}